In [38]:
import pandas as pd

In [82]:
data1=pd.read_excel(r'C:\Users\K S Kalaburgi\Downloads\train1.xlsx')
data2=pd.read_excel(r'C:\Users\K S Kalaburgi\Downloads\test1.xlsx')

In [84]:
data1.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,C,14.451155,1139.0,1.0,9.302908,1.0,M,p,86.108947
1,1,108,H,14.207448,1656.0,1.0,7.220130,0.0,M,p,42.606833
2,8,258,A,19.220830,2817.0,1.0,8.727214,1.0,M,p,85.625961
3,4,147,A,15.752732,1948.0,1.0,6.078818,1.0,M,p,53.656277
4,5,230,H,10.195407,1336.0,1.0,4.749185,0.0,M,p,64.925051

In [85]:
data2.head()

   data1  data2 data3      data4  data5  data6     data7  data8 data9 data10
0      7    195     A  29.038043   2725      1  6.145731      2     M      p
1      9    109     F  20.221431   1184      1  9.334184      2     M      p
2      0    126     C  26.477532   2975      1  9.021806      1     M      p
3      2    209     E  13.445450   1067      1  1.814993      0     M      p
4      5    268     B  25.065894   1336      1  1.639130      1     M      p

In [89]:
data1.shape

(10000, 11)

In [90]:
data2.shape

(10000, 10)

In [91]:
data1.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     1
data6     3
data7     2
data8     1
data9     1
data10    1
output    1
dtype: int64

In [92]:
data2.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     0
data6     0
data7     0
data8     0
data9     0
data10    0
dtype: int64

In [93]:
data1["data3"].unique()

array(['C', 'H', 'A', 'F', 'B', 'G', 'E', 'D'], dtype=object)

In [94]:
data2["data3"].unique()

array(['A', 'F', 'C', 'E', 'B', 'D', 'G', 'H'], dtype=object)

In [95]:
data1.describe

<bound method NDFrame.describe of       data1  data2 data3      data4   data5  data6     data7  data8 data9  \
0         8    279     C  14.451155  1139.0    1.0  9.302908    1.0     M
1         1    108     H  14.207448  1656.0    1.0  7.220130    0.0     M
2         8    258     A  19.220830  2817.0    1.0  8.727214    1.0     M
3         4    147     A  15.752732  1948.0    1.0  6.078818    1.0     M
4         5    230     H  10.195407  1336.0    1.0  4.749185    0.0     M
...     ...    ...   ...        ...     ...    ...       ...    ...   ...
9995      9    263     A  16.604215  1070.0    0.0  8.979149    2.0     F
9996      5    280     E  28.758911  2652.0    0.0  3.574129    0.0     F
9997      6    188     D  15.963267  1359.0    0.0  2.880019    0.0     F
9998      1    132     H  11.683401  1793.0    0.0  6.983192    2.0     F
9999      5    264     A  21.176115  1792.0    0.0  8.276101    2.0     F

     data10     output
0         p  86.108947
1         p  42.606833
2         p  85.625961
3         p  53.656277
4         p  64.925051
...     ...        ...
9995      p  85.922943
9996      p  90.857149
9997      p  61.246960
9998      p  45.298253
9999      p  85.534604

[10000 rows x 11 columns]>

In [96]:
data2.info

<bound method DataFrame.info of       data1  data2 data3      data4  data5  data6     data7  data8 data9  \
0         7    195     A  29.038043   2725      1  6.145731      2     M
1         9    109     F  20.221431   1184      1  9.334184      2     M
2         0    126     C  26.477532   2975      1  9.021806      1     M
3         2    209     E  13.445450   1067      1  1.814993      0     M
4         5    268     B  25.065894   1336      1  1.639130      1     M
...     ...    ...   ...        ...    ...    ...       ...    ...   ...
9995      7    251     D  23.004384   1637      0  8.333728      1     F
9996      5    275     A  29.514058   2339      0  9.953107      1     F
9997      8    168     C  22.520965   1827      0  7.555553      1     F
9998      4    296     E  16.558948   1748      0  8.846995      1     F
9999      7    281     C  18.546089   1651      0  8.907220      2     F

     data10
0         p
1         p
2         p
3         p
4         p
...     ...
9995      p
9996      p
9997      p
9998      p
9999      p

[10000 rows x 10 columns]>

In [97]:
data1["data5"].unique()

array([1139., 1656., 2817., ..., 2931., 1123., 1155.])

In [98]:
data1["data6"].unique()

array([ 1., nan,  0.])

In [99]:
data1["data7"].unique()

array([9.30290777, 7.22013022, 8.72721418, ..., 2.88001914, 6.98319177,
       8.27610053])

In [100]:
data1["data8"].unique()

array([ 1.,  0.,  2., nan])

In [101]:
data1["data9"].unique()

array(['M', nan, 'F'], dtype=object)

In [102]:
data1["data10"].unique()

array(['p', nan], dtype=object)

In [51]:
data1["output"].unique()

array([86.10894687, 42.60683336, 85.62596078, ..., 61.24695959,
       45.29825274, 85.53460429])

In [103]:
data1.columns

Index(['data1', 'data2', 'data3', 'data4', 'data5', 'data6', 'data7', 'data8',
       'data9', 'data10', 'output'],
      dtype='object')

In [104]:
data2.columns

Index(['data1', 'data2', 'data3', 'data4', 'data5', 'data6', 'data7', 'data8',
       'data9', 'data10'],
      dtype='object')

In [109]:
import random
data1.fillna(value={"data5":2500,"data6":1,"data7":5,"data8":2,"data9":"F","data10":"p","output":50.567},inplace=True)

In [106]:
#other method just tried
data1.fillna(method='bfill',inplace=False)

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,C,14.451155,1139.0,1.0,9.302908,1.0,M,p,86.108947
1,1,108,H,14.207448,1656.0,1.0,7.220130,0.0,M,p,42.606833
2,8,258,A,19.220830,2817.0,1.0,8.727214,1.0,M,p,85.625961
3,4,147,A,15.752732,1948.0,1.0,6.078818,1.0,M,p,53.656277
4,5,230,H,10.195407,1336.0,1.0,4.749185,0.0,M,p,64.925051
...,...,...,...,...,...,...,...,...,...,...,...
9995,9,263,A,16.604215,1070.0,0.0,8.979149,2.0,F,p,85.922943
9996,5,280,E,28.758911,2652.0,0.0,3.574129,0.0,F,p,90.857149
9997,6,188,D,15.963267,1359.0,0.0,2.880019,0.0,F,p,61.246960
9998,1,132,H,11.683401,1793.0,0.0,6.983192,2.0,F,p,45.298253
9999,5,264,A,21.176115,1792.0,0.0,8.276101,2.0,F,p,85.534604

In [111]:

data1.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     0
data6     0
data7     0
data8     0
data9     0
data10    0
output    0
dtype: int64

In [112]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,LabelEncoder
le=LabelEncoder()
data1.data3=le.fit_transform(data1.data3)
data1.data9=le.fit_transform(data1.data9)
data1.data10=le.fit_transform(data1.data10)

In [113]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,LabelEncoder
le=LabelEncoder()
data2.data3=le.fit_transform(data2.data3)
data2.data9=le.fit_transform(data2.data9)
data2.data10=le.fit_transform(data2.data10)

In [114]:
data1[data1.isnull().any(axis=1)]

Empty DataFrame
Columns: [data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, output]
Index: []

In [115]:
data1.head(10)

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,2,14.451155,1139.0,1.0,9.302908,1.0,1,0,86.108947
1,1,108,7,14.207448,1656.0,1.0,7.220130,0.0,1,0,42.606833
2,8,258,0,19.220830,2817.0,1.0,8.727214,1.0,1,0,85.625961
3,4,147,0,15.752732,1948.0,1.0,6.078818,1.0,1,0,53.656277
4,5,230,7,10.195407,1336.0,1.0,4.749185,0.0,1,0,64.925051
5,3,233,5,21.052830,2571.0,1.0,9.603920,2.0,1,0,78.151467
6,2,225,1,27.926836,2630.0,1.0,6.173447,2.0,1,0,78.307600
7,4,225,5,11.263795,1643.0,1.0,2.537428,1.0,1,0,61.674843
8,0,240,0,10.621867,2945.0,1.0,2.015180,1.0,1,0,59.574860
9,8,208,6,17.706433,1804.0,1.0,9.252709,1.0,1,0,74.788498

In [117]:
data2.head(10)

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10
0,7,195,0,29.038043,2725,1,6.145731,2,1,0
1,9,109,5,20.221431,1184,1,9.334184,2,1,0
2,0,126,2,26.477532,2975,1,9.021806,1,1,0
3,2,209,4,13.445450,1067,1,1.814993,0,1,0
4,5,268,1,25.065894,1336,1,1.639130,1,1,0
5,7,156,0,27.580153,2324,1,2.401226,2,1,0
6,8,176,0,19.316271,2986,1,2.990381,2,1,0
7,0,117,3,27.355686,2989,1,7.503869,1,1,0
8,8,258,0,17.453369,1919,1,4.857225,1,1,0
9,4,109,4,10.664717,1491,1,3.142046,1,1,0