# Xg boost

In [1]:
import pandas as pd

In [2]:
data=pd.read_excel(r'C:\Users\K S Kalaburgi\AppData\Local\Temp\Temp1_train.csv.zip\train.xlsx')

In [3]:
data["labels"]=data[data.columns[0]]

In [4]:
data.drop("label",axis=1,inplace=True)

In [5]:
data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,labels
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x_mod = data.drop(['labels'], axis = 1, inplace = False)
y = data['labels']

In [7]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [8]:
array = x_mod.values 
min_max_scale = MinMaxScaler()
x_scale = min_max_scale.fit_transform(array)
x = pd.DataFrame(x_scale)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [11]:
from xgboost.sklearn import XGBClassifier
import numpy as np

In [12]:
xgl=XGBClassifier(max_depth=3,subsample=0.8,n_estimators=200,learning_rate=0.05,min_child_weight=1,reg_alpha=0,reg_lambda=1,random_state=10)
xgl.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:29:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.05, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=200, n_jobs=4, num_parallel_tree=1,
              objective='multi:softprob', random_state=10, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=0.8,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [13]:
y_pre4=xgl.predict(x_test)

In [14]:
y_pre4

array([1, 5, 2, ..., 8, 8, 8], dtype=int64)

In [15]:
from sklearn.metrics import r2_score,confusion_matrix,accuracy_score,classification_report
print(accuracy_score(y_test,y_pre4))
print(classification_report(y_test,y_pre4))

0.934047619047619
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       853
           1       0.97      0.97      0.97       940
           2       0.93      0.94      0.93       835
           3       0.91      0.89      0.90       873
           4       0.92      0.94      0.93       829
           5       0.92      0.90      0.91       731
           6       0.97      0.97      0.97       800
           7       0.95      0.93      0.94       850
           8       0.92      0.91      0.92       846
           9       0.89      0.90      0.90       843

    accuracy                           0.93      8400
   macro avg       0.93      0.93      0.93      8400
weighted avg       0.93      0.93      0.93      8400

In [16]:
pd.crosstab(y_test,y_pre4)

col_0     0    1    2    3    4    5    6    7    8    9
labels
0       836    0    2    2    3    1    3    1    4    1
1         0  916    5    8    0    3    2    1    5    0
2         7    4  781   11    9    0    3    6   10    4
3         2    6   21  776    2   24    2    9   20   11
4         1    1    4    0  781    1    5    2    2   32
5         7    4    4   26    3  661    6    5    8    7
6         2    0    3    0    6   12  773    1    3    0
7         2    4   13    6    5    0    0  793    1   26
8         2   11    9   16    5   14    7    2  768   12
9         2    3    0   10   35    3    0   18   11  761

# KNN

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
from sklearn.metrics import confusion_matrix,f1_score,accuracy_score

In [19]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [22]:
cs=StandardScaler()
x_train=cs.fit_transform(x_train)
x_test=cs.fit_transform(x_test)

In [23]:
for i in range(1,14,2):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred=knn.predict(x_test)
    print(i,accuracy_score(y_test,pred))

1 0.9371428571428572
3 0.9411904761904762
5 0.9407142857142857
7 0.9371428571428572
9 0.9365476190476191
11 0.9339285714285714

In [25]:
cls=KNeighborsClassifier(n_neighbors=3)

In [26]:
cls.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [29]:
pred=cls.predict(x_test)

In [30]:
pred

array([1, 5, 2, ..., 8, 8, 8], dtype=int64)

In [32]:
print(accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

0.9411904761904762
              precision    recall  f1-score   support

           0       0.96      0.98      0.97       853
           1       0.96      0.99      0.97       940
           2       0.93      0.95      0.94       835
           3       0.92      0.93      0.92       873
           4       0.94      0.93      0.94       829
           5       0.93      0.91      0.92       731
           6       0.97      0.98      0.97       800
           7       0.92      0.95      0.94       850
           8       0.97      0.88      0.92       846
           9       0.91      0.90      0.90       843

    accuracy                           0.94      8400
   macro avg       0.94      0.94      0.94      8400
weighted avg       0.94      0.94      0.94      8400

In [33]:
pd.crosstab(y_test,pred)

col_0     0    1    2    3    4    5    6    7    8    9
labels
0       840    0    5    0    0    1    5    1    0    1
1         0  935    1    2    0    0    2    0    0    0
2         5    8  792    9    3    1    3    8    5    1
3         6    4   13  813    1   15    0    9   10    2
4         1    5   12    2  770    0    2    5    0   32
5         4    1    4   32    2  667    8    2    7    4
6         5    1    2    0    2    5  783    0    2    0
7         0    7    6    2    4    0    0  806    0   25
8         8   17   12   18    9   23    5    3  744    7
9         6    1    2    7   26    4    0   40    1  756